%gilroy-medium{
  font-family: 'Gilroy-Medium', sans-serif;
  font-weight: 500;
}

%gilroy-bold{
  font-family: 'Gilroy-Bold', sans-serif;
  font-weight: 700;
}

%gilroy-extrabold{
  font-family: 'Gilroy-Extrabold', sans-serif;
  font-weight: 800;
}


%chronicle-display-bold{
  font-family: 'Chronicle-Display-Bold', sans-serif;
  font-weight: 700;
}


%chronicle-display-semibold{
  font-family: 'Chronicle-Display-SemiBold', sans-serif;
  font-weight: 900;
}