@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
  padding: 64px 0;
  margin-bottom: -160px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  &__wrapper{
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__account{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__account-img{
    margin-right: 8px;
  }
  &__account-text{
    color: #fff;
  }
  &__btn{
    display: none;
    position: relative;
    z-index: 101;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    cursor: pointer;
  }
  &__btn-box{
    display: flex;
    height: 30px;
    width: 36px;
    border: none;
    background-color: transparent;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    &.header__btn-box--active {
      &:before,
      &:after {
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        background-color: #fff;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
      &:before {
        transform: rotate(-45deg);
      }
      &:after {
        transform: rotate(45deg);
      }
      span {
        width: 0;
      }
    }
    &:before,
    &:after{
      transition: all 0.3s;
      content: '';
      position: absolute;
      background-color: #fff;
      height: 3px;
      right: 0;
    }
    &:before{
      width: 29px;
      top: 0;
    }
    &:after {
      width: 23px;
      bottom: 0;
    }
    span {
      transition: all 0.3s;
      width: 36px;
      height: 3px;
      background-color: #fff;
      border-radius: 50px;
      margin: 0 auto;
    }
  }
}

.menu{
  &__list{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__list-item+.menu__list-item{
    margin-left: 40px;
  }
  &__list-link{
    color: #fff;
  }
}

.banner{
  height: 1900px;
  background-image: url(../images/header-bg.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 700px;
    width: 100%;
    background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 61.38%);
  }
  &__wrapper{
    max-width: 1060px;
    width: 100%;
    padding: 287px 55px 0;
    margin: 0 auto;
  }
  &__title{
    font-size: 88px;
    line-height: 100px;
    @extend %chronicle-display-semibold;
    margin: 32px 0;
  }
  &__btn{
    display: inline-block;
    position: relative;
    padding-right: 32px;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    &:before{
      content: '';
      position: absolute;
      background-image: url('../images/icons/arrow_down.svg');
      width: 16px;
      height: 24px;
      background-repeat: no-repeat;
      background-size: cover;
      right: 0px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}


.step{
  margin-top: -500px;
  position: relative;
}

.step-item{
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
  &__content{
    margin-top: 38px;
    margin-right: 50px;
  }
  &__content-number{
    font-size: 240px;
    line-height: 240px;
    @extend %gilroy-bold;
    opacity: 0.1;
  }
  &__content-info{
    margin: -130px 0 0 150px;
    width: 632px;
  }
  &__content-infoText{
    margin-bottom: 27px;
  }
  &__content-infoLink{
    line-height: 22px;
    color: #FBD784;
    padding-right: 40px;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      background-image: url('../images/icons/arrow_right.svg');
      width: 24px;
      height: 16px;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__box{
    max-width: 566px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &__box-img{
    object-fit: cover;
    object-position: center;
  }
  &--reflection{
    .step-item__content{
      order: 2;
      margin-right: 0;
      margin-left: 50px;
    }

  }
}




.footer{
  margin-top: 200px;
  margin-bottom: 120px;
  &__wrapper{
    display: flex;
    justify-content: space-between;
  }
  &__info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__info-text{
    margin-top: 24px;
    line-height: 32px;
    width: 303px;
    margin-bottom: auto;
  }
  &__info-copy{
    line-height: 32px;
    opacity: 0.5;
    @extend %gilroy-medium;
  }
  &__items{
    display: flex;
    max-width: 566px;
    width: 100%;
    justify-content: space-between;
  }
  &__item-title{
    font-size: 24px;
    line-height: 32px;
    color: #FBD784;
    margin-bottom: 24px;
  }
  &__item-listItem+.footer__item-listItem{
    margin-top: 16px;
  }
  &__item-listLink{
    line-height: 32px;
    @extend %gilroy-medium;
    color: #fff;
  }
  &__copy{
    display: none;
    line-height: 32px;
    opacity: 0.5;
    @extend %gilroy-medium;
  }
}



@import 'media';